DB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/trackcode?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
PORT=8000
API_USERNAME=your_clist_username
API_KEY=your_clist_api_key
REFRESH_KEY=your_refresh_secret